
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{ 
    <link href="~/content/home/aboutus.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>About Us</h4>
            </div>
        </div>
    </div>
</section>

