
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/content/home/testimonials.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Testimonials</h4>
            </div>
        </div>
    </div>
</section>