@model UsersViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Users</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-active table-striped table-responsive-lg ">
                    <thead class="thead-dark">
                        <th>Name</th>
                    </thead>
                    <tbody>
                        @foreach(DealerEmployee user in Model.Users)
                        {
                            <tr>
                                <td>@user.LastName, @user.FirstName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="offset-1 col-md-3">
                    <h4>Add User</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="EditUser.FirstName"></label>
                        <input asp-for="EditUser.FirstName" class="form-control" />
                        <span asp-validation-for="EditUser.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditUser.LastName"></label>
                        <input asp-for="EditUser.LastName" class="form-control" />
                        <span asp-validation-for="EditUser.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditUser.Email"></label>
                        <input asp-for="EditUser.Email" class="form-control" />
                        <span asp-validation-for="EditUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditUser.Password"></label>
                        <input asp-for="EditUser.Password" class="form-control" />
                        <span asp-validation-for="EditUser.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditUser.ConfirmPassword"></label>
                        <input asp-for="EditUser.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="EditUser.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Register</button>
                </div>
            </div>
        </div>
    </div>
</section>