@page
@model AccessDeniedModel

<section style="min-height:65vh; padding-top:5vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-danger">Access denied</h4>
                <p class="text-danger">You do not have access to this resource.</p>
                <p class="text-danger">If you feel like you have reached this page due to an error, please contact us at: (618) 435-5296.</p>

            </div>
        </div>
    </div>
</section>
