@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <div class="container" style="min-height:70vh;">
        <div class="row">
            <div class="col-md-12">
                <h4>@ViewData["Title"]</h4>
                <p>You have successfully logged out of the application.</p>
            </div>
        </div>
    </div>